@import './variables.scss';

.mainPage {

  @include container;

  .texteIntro {
    text-align: center;
    max-width: 800px;
    margin: auto;
    margin-bottom: 5rem;
  }

  .propos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8rem;

    @media (min-width: 640px) {
      flex-direction: row;
      margin-bottom: 10rem;
    }

    .imagePropos {
      position: relative;
      height: 400px;
      width: 100%;
      margin-bottom: 0.5rem;

      @media (min-width: 640px) {
        height: 500px;
        aspect-ratio: 1/1;
        margin-bottom: 0.5rem;
      }

      img {
        object-fit: cover;
      }

    }

    .contenuPropos {
      padding: 0;

      @media (min-width: 640px) {
        padding-left: 6rem;
      }

      p {
        margin-bottom: 2rem;

        &:last-of-type {
          margin-bottom: 2.5rem;
        }
      }


    }


  }

  .banniereDevis {

    background-image: linear-gradient(to right, rgba(29, 95, 107, 0.5), rgba(247, 100, 93, 0.5)), url("/img/products/QuartzBrut.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 6rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2rem;

    @media (min-width: 640px) {
      margin-bottom: 8rem;
      flex-direction: row;
      padding: 5rem 6rem;
      align-items: center;
    }

    h2 {
      color: white;
      margin-bottom: 1.5rem;

      @media (min-width: 640px) {
        margin-bottom: 0;
      }
    }


  }

}