@import '../../app/variables.scss';

.navbar {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: $headerHeight;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  -webkit-box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.2);

  .logoContainer {
    width: 100px;
    height: 100px;
    position: relative;

    .logo {
      object-fit: contain;
    }

  }

  .navbarMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    transition: translate 0.3s;

    .navbarLiens {
      display: flex;
      align-items: center;
      gap: 60px;
      height: 100%;
      width: 100%;

      .lienMenu {
        text-decoration: none;
        font-size: 18px;
        padding: 20px 0;
        color: $bleuFonce;
        font-family: "Noto Serif", serif;
        font-weight: 400;
        font-size: 18px;
      }

    }

    .navbarIcons {
      display: flex;
      align-items: center;

      .searchContainer {
        display: flex;

        input[type="search"] {
          border: none;
          border-bottom: 1px solid $bleuFonce;
          height: 32px;
          width: 0px;
          padding: 0rem;
        }
      }

      .cartIcon {
        position: relative;

        span {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0.1rem;
          bottom: 0;
          left: 0;
          position: absolute;
          background-color: #f7645d;
          color: white;
          width: 15px;
          height: 15px;
          border-radius: 50%;
          font-size: 0.8rem;
        }
      }

      img {
        //width: 40px;
        //padding: 0 0.5rem;
      }
    }

  }

}

.sousNav {
  width: 100%;
  height: $headerHeight;
}

.imgcontainer {
  position: relative;
  width: 40px;
  height: 40px;
  padding: 0.5rem;
  img {
    position: relative !important;
    object-fit: contain;
  }
}



/* END HEADER */