@import '../../../app/variables.scss';

@mixin card($height, $maxWidht) {
  width: 100%;

  @media (min-width: 640px) {
    width: 100%;
    max-width: $maxWidht;
  }

  .imgcontainer {
    position: relative;
    height: 350px;
    width: 100%;

    @media (min-width: 640px) {
      height: $height;
      max-width: $maxWidht;
    }

    img {
      object-fit: cover;
    }
  }
}

.bigCard {
  @include card(550px, 420px);
}

.smallCard {
  @include card(350px, 290px);
}