@import '../../app/variables.scss';

.blogPostsGallery {
  margin-bottom: 8rem;

  @media (min-width: 640px) {
    margin-bottom: 15rem;
  }

  header {

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    flex-direction: column;

    @media (min-width: 640px) {
      flex-direction: row;
    }

    h2 {
      margin-bottom: 1rem;
      text-align: center;

      @media (min-width: 640px) {
        margin-bottom: 0;
        text-align: left;
      }
    }

    a {
      font-weight: 500;
      font-size: 18px;
    }
  }

  .blogPosts {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    column-gap: 30px;
    flex-wrap: wrap;

    @media (min-width: 640px) {
      flex-direction: row;
    }

    .small {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;
      gap: 20px;

      @media (min-width: 640px) {
        flex-direction: row;
        width: 50%;
        min-width: 530px;
      }
    }
  }
}